:root {
  --primary-color: rgb(42, 95, 14);
}

.cities {
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.cities-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.cities-item {
  border: 3px solid var(--primary-color);
  padding: 10px;
  width: 300px;
}

.cities-item p {
  cursor: pointer;
}

.cities-item p:hover {
  color: var(--primary-color);
}

.search-bar {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.title-number-record {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}

.custom-location {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-location form input {
  margin-right: 10px;
}

.form-btn-submit {
  color: whitesmoke !important;
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.nearest-city h3 {
  color: var(--primary-color);
  text-align: center;
}

.nearest-city .bold {
  color: var(--primary-color);
  font-weight: bold;
}

.upload-excel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.imported-locations {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imported-locations table {
  border-collapse: collapse;
  width: 80%;
}

.imported-locations table td,
.imported-locations table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.imported-locations table td span {
  color: var(--primary-color);
  font-weight: bold;
}

.features {
  position: absolute;
  top: 0;
  right: 0;
}

.reset-btn {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.export-excel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .cities-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .cities-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .cities-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
